*{margin:0;padding:0;}
nav.main-nav{
	background:#333;
	width:100%;
}
.top-nav{
	border-bottom:2px solid #111;
	height:50px;
	margin:0;
	padding:0;
	list-style:none;
}
.top-nav li{
	float:left;
	border-right:1px solid #555;
	border-bottom:2px solid #111;
	position:relative;
	text-align:center;
	width:150px;
	height:50px;
	transition-property: height;
	transition-duration:0.3s;
}
.top-nav li a{
	text-decoration:none;
	color:#fff;
	font-family:Trajan Pro;
	font-size:100%;
	font-style:bold;
	display:block;
	padding:15px 30px;
	position:relative;
	text-align:center;
}
.top-nav li:hover{
	height:70px;
	background:#333;
}